@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@layer components {
  .btn-nav {
      @apply bg-oxford-blue-700 hover:bg-oxford-blue-800 active:bg-oxford-blue-900 focus:ring-oxford-blue-400 focus:outline-none rounded-md text-lg font-bold text-white font-sans m-2 p-2
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}